<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <title><%=title %></title>

    <style>
      
      #viewDiv {
        padding: 0;
        margin: auto;
        height: 600px;
        max-width: 900px;
        min-width: 200px;
      }
    </style>
    <script src="/ajax.js"></script>
    <script src="/controller.js"></script>
    <link rel="stylesheet" href="https://js.arcgis.com/4.23/esri/themes/light/main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="https://js.arcgis.com/4.23/"></script>
    <script src="/scripts/map-service.js"></script>
    <script src="/scripts/side-bar.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript">
       require(["esri/config","esri/Map", "esri/views/SceneView","esri/Graphic","esri/layers/GraphicsLayer",], function (esriConfig,Map, MapView, Graphic, GraphicsLayer) {

      esriConfig.apiKey = "AAPKde6378fdc0564c52bf3c878d29ca7e9bqt_7Tkm-7uQIlD5yN-lHJCppLGbCIwYVq8HxdhA731ilXNtW3Dth2ATZhGwQpv9D";

      const map = new Map({
      basemap: "satellite",
      });

      const view = new MapView({
      map: map,
      center: [-5.0020482,33.9899339], // Longitude, latitude
      zoom: 14, // Zoom level
      container: "viewDiv", // Div element
      });
      let graphicsLayer;
      graphicsLayer = new GraphicsLayer();
      map.add(graphicsLayer);

        '<% for(var i=0;i<places.length;i++){ %>'
            var place = {
                id : '<%-places[i].id%>',
                name : '<%-places[i].name%>',
                longitude : '<%-places[i].longitude%>',
                latitude : '<%-places[i].latitude%>',
                description : '<%-places[i].description%>',
                image : '<%-places[i].image%>',
                marker : '<%-places[i].marker%>'
            }
            addMarker(graphicsLayer,place,Graphic);
        '<%}%>'
        
        GlobalInformation(view,graphicsLayer);
        detailInfo(graphicsLayer,view,Graphic);
        zoomOn(view)
        GlobalInformationWithHover(view,graphicsLayer)

        // document.getElementById("transport").addEventListener("click",()=>{
        //   getPlacesByKeyword("station",graphicsLayer,Graphic,view)
        // })
        // document.getElementById("biblio").addEventListener("click",()=>{
        //   getPlacesByKeyword("biblio",graphicsLayer,Graphic,view)
        // })
        // document.getElementById("wc").addEventListener("click",()=>{
        //   getPlacesByKeyword("toillete",graphicsLayer,Graphic,view)
        // })

        let links = document.querySelectorAll("a");
        for (let i = 0; i < links.length; i++) {
          links[i].addEventListener('click',()=>{
            if("<%-user.role%>"=="presidence")
              getPlacesByKeyword(links[i].classList[0],null,graphicsLayer,Graphic,view)
            else 
              getPlacesByKeyword(links[i].classList[0],"<%-user.establishment%>",graphicsLayer,Graphic,view)
          })
          
        }

      });


    </script>
      
  </head>
  <body onload="loadEstab();">
    <div class="sidebar close">
      <div class="logo-details">
        <i class='fas fa-school' style='font-size:36px'></i>

        <span class="logo_name">School Map</span>
      </div>
      <ul class="nav-links">
        
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='fas fa-building'></i>
              <span class="link_name">Locaux</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Locaux</a></li>
            <li><a  href="#" class="biblio">Bibliotheques</a></li>
            <li><a  href="#" class="terrain">Terrains</a></li>
            <li><a  href="#" class="toillete">Toilettes</a></li>
            <li><a  href="#" class="jardin">Jardin</a></li>
            <li><a  href="#" class="parking">Parking</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="station">
            <i class='fas fa-bus-alt'></i>
            <span class="link_name">Transport</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="station link_name" href="#">Transport</a></li>
          </ul>
        </li>
        
        <li>
            <a href="#" class="batiment">
              <i class='fas fa-book-open'></i>
              <span class="link_name">Etudes</span>
            </a>          
        </li>
        <% if(user.role=="chef" || user.role=="presidence") { %>
          <% if(user.role=="presidence") { %>
            <li id="" >
              <a href="/users/register/" class="station">
                <i class='fas fa-edit'></i>
                <span class="link_name">Ajouter un Compte</span>
              </a>
              
            </li>
            <li>
              <a href="/establishment/add" class="station" id="addLink">
                <i class='fas fa-clipboard'></i>
                <span class="link_name">Ajouter un etablissement</span>
              </a>
            </li>
            <%}else {%>
        <li>
          <a href="/place/add" class="station" id="addLink">
            <i class='fas fa-clipboard'></i>
            <span class="link_name">Ajouter un emplacement</span>
          </a>
          <ul class="sub-menu blank">
            <li>            <i class='fas fa-clipboard'></i>

              <a class="station link_name" href="/place/add">Ajouter un emplacement</a></li>
          </ul>
        </li>
        <%}%>
        <li id="delete" >
          <a href="/place/delete" class="station" id="mylink">
            <i class='fas fa-trash-alt'></i>
            <span class="link_name">Supprimer cet emplacement</span>
          </a>
          
        </li>
        <li id="edit" >
          <a href="/place/edit" class="station" id="Editlink">
            <i class='fas fa-edit'></i>
            <span class="link_name">Modifier cet emplacement</span>
          </a>
          
        </li>
        <%}%>

      <!-- <div class="profile-details">
        <div class="profile-content">
          <img src="image/profile.jpg" alt="profileImg">
        </div>
        <div class="name-job">
          <div class="profile_name">Prem Shahi</div>
          <div class="job">Web Desginer</div>
        </div>
        <i class='bx bx-log-out' ></i>
      </div> -->
    <!-- </li> -->
  </ul>
    </div>
    <section class="home-section">
      <div class="">
        
        <div id="">
          <nav>
            <!-- <i class='bx bx-menu' ></i> -->
            <h4>School Map</h4>
            <% if(user.role=="presidence") { %>
              <div>
                <select name="estab" id="estab">
                  <option value="">--Select an Establishment--</option>
                </select>
              </div>
            <%}%>
      
            <ul>
              <!-- <li><a href="#" id="EstabView">Etablissements</a></li> -->
              <li class="user"><%= user.name %></li>
              <li><a href="/users/logout" onclick="logOut();"><i class="fa fa-sign-out" style="font-size:36px" ></i></a></i>
              </li>
            </ul>
          </nav>
          <div id="viewDiv"></div>
          <div class="buildings">
            <div class="navigation">
              <button id="plus" style="display: none;">+</button>
              <button id="minus" style="display: none;">-</button>
            </div>
            
            <div id="details" class="details">
        
            </div>
          </div>
    
        </div>
      </div>
    </section>
    <script>
    let arrow = document.querySelectorAll(".arrow");
    for (var i = 0; i < arrow.length; i++) {
      arrow[i].addEventListener("click", (e)=>{
     let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
     arrowParent.classList.toggle("showMenu");
      });
    }
    
    // let sidebar = document.querySelector(".sidebar");
    // let sidebarBtn = document.querySelector(".bx-menu");
    // console.log(sidebarBtn);
    // sidebarBtn.addEventListener("click", ()=>{
    //   sidebar.classList.toggle("close");
    // });
    </script>
    
    
    
    
  </body>
</html>