<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    
    <title><%=title %></title>

    <style>
      
      #viewDiv {
        padding: 0;
        margin: auto;
        height: 600px;
        max-width: 900px;
        min-width: 200px;
      }
    </style>
    <script src="/ajax.js"></script>
    <script src="/controller.js"></script>
    <link rel="stylesheet" href="https://js.arcgis.com/4.23/esri/themes/light/main.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="https://js.arcgis.com/4.23/"></script>
    <script src="/scripts/map-service.js"></script>
    <script src="/scripts/side-bar.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript">
       require(["esri/config","esri/Map", "esri/views/SceneView","esri/Graphic","esri/layers/GraphicsLayer",], function (esriConfig,Map, MapView, Graphic, GraphicsLayer) {

      esriConfig.apiKey = "AAPKde6378fdc0564c52bf3c878d29ca7e9bqt_7Tkm-7uQIlD5yN-lHJCppLGbCIwYVq8HxdhA731ilXNtW3Dth2ATZhGwQpv9D";

      const map = new Map({
      basemap: "satellite",
      });

      const view = new MapView({
      map: map,
      center: [-5.0020482,33.9899339], // Longitude, latitude
      zoom: 14, // Zoom level
      container: "viewDiv", // Div element
      });
      let graphicsLayer;
      graphicsLayer = new GraphicsLayer();
      map.add(graphicsLayer);

        '<% for(var i=0;i<places.length;i++){ %>'
            var place = {
                id : '<%-places[i]._id%>',
                name : '<%-places[i].name%>',
                longitude : '<%-places[i].longitude%>',
                latitude : '<%-places[i].latitude%>',
                description : '<%-places[i].description%>',
                image : '<%-places[i].image%>',
                marker : '<%-places[i].marker%>'
            }
            addMarker(graphicsLayer,place,Graphic);
        '<%}%>'
        
        GlobalInformation(view,graphicsLayer);
        detailInfo(graphicsLayer,view,Graphic);
        zoomOn(view)
        GlobalInformationWithHover(view,graphicsLayer)

        document.getElementById("transport").addEventListener("click",()=>{
          getPlacesByKeyword("station",graphicsLayer,Graphic,view)
        })
        document.getElementById("biblio").addEventListener("click",()=>{
          getPlacesByKeyword("biblio",graphicsLayer,Graphic,view)
        })
        document.getElementById("wc").addEventListener("click",()=>{
          getPlacesByKeyword("toillete",graphicsLayer,Graphic,view)
        })

      });


    </script>
      
  </head>
  <body onload="loadEstab();">
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
      <button class="w3-bar-item w3-button "
      onclick="w3_close()">Close &times;</button>
      <a href="#" class="w3-bar-item w3-button" id="transport">transport</a>
      <a href="#" class="w3-bar-item w3-button" id="biblio">bibliotheque</a>
      <a href="#" class="w3-bar-item w3-button" id="wc">toilettes</a>
    </div>
    <div id="main">
      <nav>
        <h3>Schools Map</h3>
        
        <div>
          <label for="estab">Establishment : </label>
          <select name="estab" id="estab">
            <option value="">--Select an Establishment--</option>
          </select>
        </div>
        
  
        <ul>
          <li><a href="#" id="EstabView">Etablissements</a></li>
          <li class="user"><%= user.name %></li>
          <li><a href="/users/logout"><i class="fa fa-sign-out" style="font-size:36px" ></i></a></i>
          </li>
        </ul>
      </nav>
      <div id="viewDiv"></div>
      <div class="buildings">
        <div class="navigation">
          <button id="plus" style="display: none;">+</button>
          <button id="minus" style="display: none;">-</button>
        </div>
        
        <div id="details" class="details">
    
        </div>
      </div>

    </div>
    
    
    
  </body>
</html>